<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Manage your subscription</title>
    <link rel="stylesheet" type="text/css" href="/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous"></script>
    <script src="/semantic.min.js"></script>
</head>
<body>
<div class="pusher">
    <div class="ui vertical masthead center aligned segment">
        <div class="ui text container offer">
            <h1 class="ui header">
                Manage website monitoring
            </h1>
            <p>Unsubscribe from all website monitoring alerts. <a th:href="@{/manage/unsubscribe/{id}(id=${id})}">Click here</a></p>
        </div>
    </div>
</div>

</body>
</html>